.select-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.select-list li {
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.select-list li:not(:last-child) {
    margin-bottom: 4px;
}

.select-list li:hover,
.select-list li:active,
.select-list li[selected] {
    color: white;
    background-color: #5cb85c;
    border: 1px solid #999999;
}

.select-list li[selected] {
    cursor: default;
}

.select-list li:not([selected]):active {
    background-color: #449D44;
}
